---
import Hero from "@/components/Hero.astro";
import Bio from "@/components/Bio.astro";
import Layout from "@/layouts/Layout.astro";


---

<Layout>
	<Hero h1="Like the greatest blog ever" content="Web Developer" class="max-w-6xl">
		<div slot="image-section">
			<img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
		</div>
	</Hero>
	<div class=" max-w-6xl mx-auto">
		
	</div>
</Layout>	