@tailwind base;

  @layer base {
    :root{
      --nav-height: 40px;
    }


    @keyframes fade-in {
        from { opacity: 0; }
      }
   
      @keyframes fade-out {
        to { opacity: 0; }
      }
   
      @keyframes slide-from-right {
        from { transform: translateX(90px); }
      }
   
      @keyframes slide-to-left {
        to { transform: translateX(-90px); }
      }
   
      /* define animations for the old and new content */
      ::view-transition-old(slide-it) {
        animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
      }
      ::view-transition-new(slide-it) {
        animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
      }
   
      /* tie the view transition to a given CSS class */
      main {
          view-transition-name: slide-it;
      }


/* scrollbar */
body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #004e7d;
  --sb-size: 9px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 16px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 16px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
/* Scrollbar */

}