---
import Hero from "../components/Hero.astro";
import Bio from "../components/Bio.astro";
import Layout from "../layouts/Layout.astro";
import Sidebar from "@/layouts/Header.astro";


---

<Layout>
	<Hero h1="Ventroy Rolle" content="Web Developer">
		<div slot="image-section">
		</div>
	</Hero>
	<Bio></Bio>
</Layout>	