---
 const { h1, content } = Astro.props;
---

<section class="hero dark:bg-gray-900 border-b-2 border-b-black" style={Astro.props.styles}>
    <div class="grid py-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 bg-blend" class:list={Astro.props.class}>
        <div class=" place-self-center lg:col-span-7 relative z-20" >
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white">{h1}</h1>
            <p class="max-w-2xl mb-6 font-light text-white lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{content}</p>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <slot name="image-section">
        </div>                
    </div>
</section>
<style>
.hero{
    background: rgb(131,58,180);
background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.bg-blend {
    backdrop-filter: blur(4px) brightness(0.7);
    
}
</style>