---
import Header from './Header.astro'
import '@/styles/global.css'
import Main from './Main.astro'
import Footer from './Footer.astro'
---

<html lang="en" class="bg-gray-200">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
	</head>
	<body class="max-w-[1920px] mx-auto">
		<Header slot="header">

		</Header>
		<Main>
			<slot />
		</Main>
		<Footer slot="footer">
			
		</Footer>
	</body>
</html>
